@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  max-width: 1280px;
  margin: 0 auto;
}

@media only screen and (max-width: 1340px) {
  section {
    max-width: 1000px;
  }
}

@media only screen and (max-width: 1120px) {
  section {
    max-width: 880px;
  }
}

@media only screen and (max-width: 900px) {
  section {
    max-width: 700px;
  }
}

@media only screen and (max-width: 740px) {
  section {
    max-width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  section {
    max-width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  section {
    max-width: 320px;
  }
}